.img-container {
  max-width: 290px;
  height: 180px;
  overflow: hidden;
  position: relative;
  width: 100%;
  img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
  }
}

.post-thumbnail-container{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
  padding: 1em;
  width: 25%;
  margin: 0em 1em 1em 1em;
}
