/**
 * Site header
 */
.site-header {
    min-height: 56px;
    border-bottom: 2px solid #4D89E7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background-color: #fff;
}

.site-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #326CD0;
        font-weight: bold;
        font-size: 13px;
        line-height: $base-line-height;
        display: flex;
        align-items: center;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        .icon {
          width: 13px;
          fill: #4D89E7;
          margin-right: 5px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.page-content {
  min-height: calc(100vh - 132px);
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin: 0;
    padding: 1em;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.sidebar {
  background-color: #4D89E7;
  width: 20%;
  color: #fff;
  position: fixed;
  height: calc(100vh - 58px);
  top: 58px;
  .site-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}

.sidebar-icon {
  width: 20px;
}

.sidebar-nav {
  list-style: none;
  margin: 1em 0 0 0;
  border-top: 1px solid #6FA3F4;
  li {
    font-size: 13px;
    a {
      color: #fff;
      padding: 1.5em;
      transition: all 0.2s linear;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #6FA3F4;
      &:hover {
        background-color: #6BA5FF;
        text-decoration: none;
      }
      .sidebar-icon {
        margin-right: 5px;
      }
    }
    &.active {
      background-color: #ebf3ff;
      a {
        color: #4d89e7;
      }
    }
  }
}


.profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  h3 {
    margin-bottom: 0px;
    margin-top: 0.6em;
  }
  h5 {
    color: #B9D4FE;
  }
}

.profile-avatar {
  background-color: #fff;
  width: 95px;
  height: 95px;
  border-radius: 100px;
  overflow: hidden;
  border: 5px solid #fff;
  img {
    width: 100%;
  }
}

.content-wrapper {
  background-color: #EBF3FF;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20%;
  position: relative;
  top: 58px;
  min-height: calc(100vh - 58px);
  .post {
    background-color: #fff;
    padding: 2em;
    border-radius: 4px;
    max-width: 800px;
    margin-top: 2em
  }
}

.page-heading {
    font-size: 26px;
    font-weight: bold;
    padding: 0.5em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 18px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/* About Test */
.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}

#popup1 {
  -webkit-box-shadow: 0px 0px 0px 9999px rgba(77, 137, 231, 0.9);
  box-shadow: 0px 0px 0px 9999px rgba(77, 137, 231, 0.9);
}

#popup2 {
  &:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(77, 137, 231, 0.9);
    z-index: -2;
  }
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }
}
