<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content d-f">
      <div class="sidebar w-20">
        <div class="profile-container">
          <div class="profile-avatar"></div>
          <h4>William dos Santos</h4>
          <h6>UI &amp; Motion Designer</h6>
        </div>
        <ul class="sidebar-nav">
          {% for page in site.pages %}
            {% if page.title %}
            <li>
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="p-1 w-80 content-wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
