<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content d-f">
      <div class="sidebar w-30">
        <div class="sidebar-fixed">
          <div class="profile-container">
            <div class="profile-avatar">
              <img src="/assets/images/profile-pic.png"/>
            </div>
            <h3>William dos Santos</h3>
            <h5>UI &amp; Motion Designer</h5>
          </div>
          <ul class="sidebar-nav mt-1">
            {% for page in site.pages %}
              {% if page.title %}
              <li>
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
          {% include footer.html %}
        </div>
      </div>
      <div class="p-1 w-70 content-wrapper">
        {{ content }}
      </div>
    </div>

  </body>

</html>
